// Custom color scheme for Eleven Mile Adventure Guide

$body-background-color: #f7f7f7;
$sidebar-color: #27374D;
$body-text-color: #2d3339;
$body-heading-color: #1a202c;
$nav-child-link-color: #27374D;
$link-color: #2e5c8a;
$btn-primary-color: #2e5c8a;
$search-background-color: #fff;
$table-background-color: #fff;
$code-background-color: #f1f3f5;
$feedback-color: #27374D;
